@font-face {
    font-family: 'Helvetica Neue Light';
    src:
        url('fonts/HelveticaNeueLight.otf') format('opentype');
}

body {
    font-size: 1.2em;
}

.button-container {
    position: absolute;
    width: 99%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
    font-size: inherit;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 8px 17px;
    color: #808080;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.7s ease;
}

button:hover {
    background-color: #d9d9d9;
}

p {
    font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
    color: #808080;
    font-size: inherit;
    margin-right: 50px;
}

.cursor {
    display: none;
    width: 2px;
    height: 0.9em;
    background-color: #171717;
    animation: none;
}

.textOutput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;

    letter-spacing: 0.07em;
    word-break: break-word;
    padding: 12vw;
    font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
    font-size: inherit;
    /* Relative to window size */
    color: #f3f3f3;
}

.fade-in {
    animation: text-fade 2s forwards;
}

textarea {
    /*inherit font and alignements from textOutput*/
    font-family: inherit;
    font-size: inherit;
    padding: inherit;
    margin: 0;
    justify-content: inherit;
    align-items: inherit;
    background-color: transparent;
    outline: none;
    caret-color: transparent;

    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(99% - 24vw);
    height: calc(99% - 24vw);
    padding: 12vw;
    opacity: 0;
}



@keyframes cursor-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes text-fade {
    0% {
        color: #464646;
    }

    100% {
        color: #f3f3f3;
    }
}